apiVersion: apps/v1
kind: Deployment
metadata:
  name: payments-api
  namespace: fcg
spec:
  replicas: 2
  selector:
    matchLabels:
      app: payments-api
  template:
    metadata:
      labels:
        app: payments-api
    spec:
      containers:
        - name: payments-api
          image: 079079338334.dkr.ecr.sa-east-1.amazonaws.com/payments-api:latest
          ports:
            - containerPort: 80
          envFrom:
            - configMapRef:
                name: payments-config
            - secretRef:
                name: payments-secret
                env:
  - name: ConnectionStrings__DefaultConnection
    valueFrom:
      secretKeyRef:
        name: payments-secret
        key: CONNECTION_STRING